<div class="report-container">
    <h2>Listado de Captchas</h2>
    <table>
      <thead>
        <tr>
          <th>ID Captcha</th>
          <th>Nombre</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let captcha of captchas">
          <td>{{ captcha.id }}</td>
          <td>{{ captcha.name }}</td>
          <td>
            <a [routerLink]="['/captcha-display', captcha.id]" >
              {{ 'http://localhost:4200/captcha-display/' + captcha.id }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
