<div id="captcha-container" class="captcha-container" [innerHTML]="htmlContent"></div>

<div class="report-container">
  <h2>Tabla de Símbolos</h2>

  <table id="variables-table">
    <thead>
      <tr>
        <th>Pos</th>
        <th>Identificador</th>
        <th>Linea</th>
        <th>Col</th>
        <th>Tipo</th>
        <th>Valor Actual</th>
        <th>Modo</th>
        <th>Procedimiento</th>
        <th>No. Ejec</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>